
android/local.properties

ios/RNChart.xcodeproj/project.xcworkspace/xcuserdata/lumin.xcuserdatad/UserInterfaceState.xcuserstate

ios/RNChart.xcodeproj/xcuserdata/lumin.xcuserdatad/xcschemes/xcschememanagement.plist

ios/RNChart.xcodeproj/xcuserdata/lumin.xcuserdatad/xcschemes/RNChart.xcscheme
